#exclude all files in ./layers/netcdf except .nc files
layers/netcdf/*
!layers/netcdf/*.nc

#excludes geoserver tmp-shapefile 
*.qix

#just shp and netcdf folders will be pushed
layers/*
#!layers/netcdf/
#!layers/shp